body {
    font-family: 'Open Sans', sans-serif;
    background:black;
    color:white;
}
header {
    background:black;
    padding:2%;
    position:fixed;
    top:0%;
    left:0%;
    z-index:1;
}

.header-tab {
    padding-top:1%;
}
.nav-pills{
    background-color:black;
    color:white;
}

#profile-picture {
    height:auto;
    width:60%;
    margin-bottom:80px;
}
#profile-area {
    position:absolute;
    margin-top:20%;
    color:white;
    background:black;
}
#button-area {
    background: black;
    position:fixed;
    max-height:75vh;
    overflow:scroll;
    left:2%;
    top:20%;
    height:100%;
    display:none;
}
#button-area>div {
    padding:5px;
}
#project-area {
    margin-left:20%;
    margin-top:15%;
    color:white;

}

.topic-button {
    background-color:black;
    color:white;
    padding:1%;
    margin-bottom:10%;
}

.contact-nav {
    height:30px;
    width:30px;
    margin:2%;
}
.contact-nav:hover{
    opacity:0.5;
}
.contact-tab {
    padding-top:1%;
    text-align:center;
}
.contact-tab>a {
    color:black;
}

.project-div {
    display:flex;
    position:relative;
    left:-20vw;
    top:5vh;
    flex-direction: column;
    margin-bottom:10%;
    height:auto;
    width:40vw;
}
.project-div1 {
    display:flex;
    position:relative;
    left:22vw;
    top:5vh;
    flex-direction: column;
    margin-bottom:10%;
    background:black;
    border:1px white solid;
    height:auto;
    width:30vw;
    transform: rotate(10deg);
    box-shadow:0 0 10px white;
}

.project-line {
    display:flex;
    justify-content: center;
    position:relative;
}
.nav-link, .topic-button {
    position: relative;
    color: white;
    text-decoration: none;
  }
  .nav-link:hover, .topic-button:hover{
      color:white;
      text-decoration: none;
  }
  
  .nav-link:before, .topic-button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color:white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-link:hover:before, .topic-button:hover:before  {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.occupation {
    float:none;
    color:gray;
}
.name {
    float:none;
    color:white;
}
.name-occupation{
    padding-top:150px;
    text-align:center;
}
.about-wrapper1 {
    padding-top:150px;
    
}
.brand-statement {
    text-align: justify;
    text-justify: inter-word;
}

#about-picture {
    padding-top:100px;
    margin-left:-50px;
}

.profile {
    -webkit-animation: fadeIn 5s; /* Safari 4+ */
    -moz-animation:    fadeIn 5s; /* Fx 5+ */
    -o-animation:      fadeIn 5s; /* Opera 12+ */
    animation:         fadeIn 5s; /* IE 10+, Fx 29+ */
}

.code-link {
text-align:right;

}
.project-icon {
    height:60px;
    width:60px;
    padding-bottom:10px;
    padding-right:10px;
    padding-top:5px;

}
.project-icon:hover {
    opacity:0.5;
}

.card {
    border:gray;
}
.project-image {
    height:auto;
    width:100%;
    box-shadow:0 0 10px white;
}
#link-image-button-disabled {
    opacity:0.5;
}
.project-heading {
    background:black;
    padding-top:5px;
    padding-bottom:5px;
    box-shadow:0 0 10px white;
    font-size:25px;
}

 @media screen and (max-width: 980px) {

 
.project-icon {
    width:50px;
    height:55px;
}
}
@media screen and (max-width: 767px) {
.project-div1{
    left:30vw;
    top:5vh;
}
}
@media screen and (max-width: 575px) {
    
.project-line{
    top:3%;
}
@media screen and (max-width: 500px) {
    
    .project-div1{
        left:35vw;
        top:5vh;
    }
}




  




